<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.blog.dao.TagsMapper">
  <resultMap id="BaseResultMap" type="com.by.blog.entity.Tags">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tags_msg" jdbcType="VARCHAR" property="tagsMsg" />
    <result column="creat_time" jdbcType="VARCHAR" property="creatTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tags
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.by.blog.entity.Tags">
    insert into tags (id, tags_msg, creat_time
      )
    values (#{id,jdbcType=INTEGER}, #{tagsMsg,jdbcType=VARCHAR}, #{creatTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.by.blog.entity.Tags">
    update tags
    set tags_msg = #{tagsMsg,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, tags_msg, creat_time
    from tags
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tags_msg, creat_time
    from tags
  </select>
    <select id="selectByTagMsg" resultType="com.by.blog.entity.Tags">
      select tags_msg
      from tags
      where tags_msg = #{tagsMsg}
    </select>
</mapper>