<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.by.blog.dao.TypesMapper" >
  <resultMap id="BaseResultMap" type="com.by.blog.entity.Types" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_msg" property="typeMsg" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from types
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.by.blog.entity.Types" >
    insert into types (id, type_msg, creat_time
      )
    values (#{id,jdbcType=INTEGER}, #{typeMsg,jdbcType=VARCHAR}, #{creatTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.by.blog.entity.Types" >
    update types
    set type_msg = #{typeMsg,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, type_msg, creat_time
    from types
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, type_msg, creat_time
    from types
  </select>
  <select id="selectByTypeMsg" resultType="com.by.blog.entity.Types">
    select  type_msg
    from types
    where type_msg = #{typeMsg}
  </select>
</mapper>