<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swpu.uchain.blog.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.swpu.uchain.blog.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="head_portrait" property="headPortrait" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.swpu.uchain.blog.entity.User" >
    insert into user (id, phone_number, `password`, 
      `role`, username, true_name, 
      email, head_portrait)
    values (#{id,jdbcType=BIGINT}, #{phoneNumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{headPortrait,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.swpu.uchain.blog.entity.User" >
    update user
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `role` = #{role,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      head_portrait = #{headPortrait,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, phone_number, `password`, `role`, username, true_name, email, head_portrait
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, phone_number, `password`, `role`, username, true_name, email, head_portrait
    from user
  </select>
  <select id="getUserByPhone" resultType="com.swpu.uchain.blog.entity.User">
    select id,phone_number,`password`, `role`, username, true_name, email, head_portrait
    from user
    where phone_number=#{phoneNumber}
  </select>
</mapper>