<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.by.blog.dao.VisitorMapper" >
  <resultMap id="BaseResultMap" type="com.by.blog.entity.Visitor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="page" property="page" jdbcType="VARCHAR" />
    <result column="total_num" property="totalNum" jdbcType="BIGINT" />
  </resultMap>
  <update id="updateByPrimaryKey" parameterType="com.by.blog.entity.Visitor" >
    update visitor
    set page = #{page,jdbcType=VARCHAR},
      total_num = #{totalNum,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPage" resultType="com.by.blog.entity.Visitor">
    select id, page, total_num
    from visitor
    where page=#{page}
  </select>
  <select id="getArticleTotal" resultType="java.lang.Integer">
    select COUNT(*) from article
  </select>
  <select id="getTagsTotal" resultType="java.lang.Integer">
    select COUNT(*) from tags
  </select>
  <select id="getCommentTotal" resultType="java.lang.Integer">
    select COUNT(*) from comment
  </select>
  <select id="getLeaveMsgTotal" resultType="java.lang.Integer">
    select COUNT(*) from leave_message
  </select>
  <select id="getVisitorTotal" resultType="java.lang.Integer">
    select total_num from visitor where page='total_page'
  </select>
</mapper>