server:
  port: 7001
spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/myblog?useSSL=false&characterEncoding=utf-8
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # 初始化大小，最小，最大
      initial-size: 5
      min-idle: 5
      max-active: 50
      # 获取连接等待超时的时间
      max-wait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 102400000
      max-file-size: 10MB
      max-request-size: 10MB


mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.swpu.uchain.blog.entity
  configuration:
    map-underscore-to-camel-case: true
    use-generated-keys: true
#redis
redis:
  host: 47.112.4.177
  port: 6379
  #超时时间
  timeout: 10
  #最大连接数
  poolMaxTotal: 1000
  #最大空闲连接数
  poolMaxIdle: 500
  #最大等待时间
  poolMaxWait: 500
  password: "sunset0923"


jwt:
  secret: test
  expiration: 1296000
  tokenStart: "Bearer "
  tokenName: Authorization

file:
  head-pic:
      upload-pic: "/home/hobo/blog/head-pic/"
      default-pic: "/home/hobo/blog/head-pic/defult.jpeg"
  blog-pic: "/home/hobo/blog/blog-pic/"

pagehelper:
  helper-dialect: mysql
  reasonable: true
  params: count=countSql
  support-methods-arguments: true